<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PAFBOS_ConnectionString" connectionString="Data Source=DESKTOP-7IR7PG6;Initial Catalog=AAA_PAF_BOS;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="PAF_BOS.Properties.Settings.FinalProjectConnectionString"
      connectionString="Data Source=DESKTOP-7IR7PG6;Initial Catalog=AAA_PAF_BOS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PAF_BOS.Properties.Settings.AAA_PAF_BOSConnectionString"
      connectionString="Data Source=DESKTOP-7IR7PG6;Initial Catalog=AAA_PAF_BOS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PAF_BOS.Properties.Settings.PAFBOS_ConnectionString1"
      connectionString="Data Source=DESKTOP-7IR7PG6;Initial Catalog=AAA_PAF_BOS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings> 
</configuration>